
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import '../stylesheets/bootstrap.min.css';


html { height: 100%; }
body {
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}

.container {
  padding: 40px 0px;
}

.cover {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  top: 0;
  left: 0;
}